In [ ]:
numbers = [
951,402,984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547,544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 375,823,566, 597, 978, 328, 615, 953, 345, 399, 162, 758,219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470, 743,527
]
index = 0

while index <= len(numbers):
  if numbers[index] % 2:
    print(numbers[index])
  if numbers[index] == 553:
    break
  index+=1

951
651
69
319
601
485
507
725
547
615
83
165
141
501
263
617
865
575
219
105
941
47
907
375
823
597
615
953
345
399
219
237
949
687
217
815
67
767
553

In [47]:
for i in range(1,int(input())):
  for j in range(i):
    print("*", end=" ")
  print()

4
*
* *
* * *

In [46]:
for m in range(0,int(input())):
  for p in range(0,m+1):
    print("*", end=" ")
  print()

4
*
* *
* * *
* * * *

In [ ]:
index=['*','* *','* * *','* * * *']
for i in range(len(index)):
  print(index[i])

*
* *
* * *
* * * *

In [3]:
i = 100
while i > 1:
  print("STT Terpadu Nurul Fikri")
  i = i - 1

STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri
STT Terpadu Nurul Fikri

In [15]:
for number in range(100,0,-2):
  print(number)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [20]:
numbers = [951,402,984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547,544, 615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941, 386, 462, 47, 418, 907, 344, 236, 375,823,566, 597, 978, 328, 615, 953, 345, 399, 162, 758,219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470, 743,527
]
i = 0
while i <= len(numbers):
  if numbers[i] % 2:
    print(numbers[i])
  if numbers[i] == 553:
    break
  i+=1

951
651
69
319
601
485
507
725
547
615
83
165
141
501
263
617
865
575
219
105
941
47
907
375
823
597
615
953
345
399
219
237
949
687
217
815
67
767
553

In [39]:
x = 0
for i in range(1,20,2):
  x = x + i
print(x)

100